{# # This file is part of the YesWiki Extension advancedsearch.
# Authors : see README.md file that was distributed with this source code.
# For the full copyright and license information, please view the LICENSE
# file that was distributed with this source code. #}

{% if displayForm %}
  <form action="{{ url({method:""}) }}" method="get" class="search-form">
    <div class="input-prepend input-append input-group input-group-lg">
      <input
          name="phrase" 
          type="text" 
          class="form-control" 
          placeholder="{{ args.label }}" 
          size="{{ args.size }}"
          value="{{ searchText }}" >
      <span class="input-group-btn input-group-addon">
        <button
          type="submit" 
          class="btn btn-search">>{{ args.button | raw }}</button>
      </span>
    </div>
  </form>
{% endif %}

{{ include_css('tools/advancedsearch/styles/advancedsearch.css') }}
{{ include_javascript('javascripts/vendor/vue/vue.js') }}
{{ include_javascript('tools/advancedsearch/javascripts/advancedsearch-dynamic.js', false, true) }}

<div class="search-results" data-args="{{ args|json_encode }}" data-initialsearchtext="{{ searchText }}" data-titles-keys="{{formsTitles|keys|json_encode}}" data-titles="{{formsTitles|json_encode}}">
  <div v-if="ready && searchText.length > 0">
    <template v-if="Object.keys(results).length == 0">
      <hr/>
      <b v-if="!updating">{{ _t('NO_SEARCH_RESULT') }}.</b>
    </template>
    <template v-else-if="args.separator.length == 0">
      <hr/>
      <b>{{ _t('SEARCH_RESULTS') }}[{{ "{{searchText}}" }}] :</b><br/>
      {% block results %}
        <ol>
          <template v-for="(page) in getVisiblesAccordingType(results,visible,'noCategory')">
            {% block liWithNumber %}
              <li>
                <h4 class="h4-search-results">
                  {% block link %}
                    <a 
                      :href="wiki.url(page.tag+(args.viewtype == 'modal' ? '/iframe' : ''),{searchAnchor:searchText})+'#searchAnchor'"
                      :class="{['new-window']:(args.viewtype == 'newtab'),modalbox:(args.viewtype == 'modal')}"
                      :target="(args.viewtype == 'newtab') ? '_blank' : null"
                      :data-iframe="args.viewtype == 'modal' ? '1' : false"
                      :data-size="args.viewtype == 'modal' ? 'modal-lg' : false"
                      :title="page.title ?? page.tag"
                      >
                      {{ "{{ (page.title && page.title.length > 0) ? (page.title.length > 70 ? page.title.slice(0,70) + '…': page.title) : page.tag }}" }}
                    </a>
                  {% endblock %}
                </h4>
                <span v-if="page.preRendered && page.preRendered.length > 0" v-html="page.preRendered"></span>
              </li>
            {% endblock %}
          </template>
        </ol>
        {% set keyAsTypeSyntax = "'noCategory'" %}
        {% block seeMore %}
          <div
            v-if="showSeeMoreButton(visible,{{ keyAsTypeSyntax }})"
            :class="{btn:true,'btn-info':showSeeMoreButton(visible,{{ keyAsTypeSyntax }},'==','Yes'),'btn-default':showSeeMoreButton(visible,{{ keyAsTypeSyntax }},'!=','Yes'),'btn-xs':true}"
            :data-type="{{ keyAsTypeSyntax }}"
            @click="moreResults"
            :title="showSeeMoreButton(visible,{{ keyAsTypeSyntax }},'!=','Yes') ? {{ _t('ADVANCEDSEARCH_TO_UPDATE')|json_encode }} : null"
            :disabled="updating || showSeeMoreButton(visible,{{ keyAsTypeSyntax }},'!=','Yes')"
            >
            {{ _t('ADVANCEDSEARCH_SEE_MORE') }}
            <i v-if="updating || showSeeMoreButton(visible,{{ keyAsTypeSyntax }},'!=','Yes')" class="fas fa-spinner spinner-rotation-effet"></i>
          </div>
        {% endblock %}
      {% endblock %}
    </template>
    <p v-else>
      {{ _t('SEARCH_RESULT_OF') }}"{{ "{{searchText}}" }}"&nbsp;:
      <template v-for="(page, key, index) in results">
        <span v-if="index != 0" v-html="args.separator"></span>
        {{ block('link') }}
      </template>
    </p>
    <div v-show="hasError" class="alert alert-warning" style="display:none">{{ _t('ADVANCEDSEARCH_HAS_ERROR') }}</div>
    <spinner-loader v-if="updating" class="overlay"></spinner-loader>
  </div>
  <spinner-loader v-else-if="updating" :height="400"></spinner-loader>
</div>
